{% extends "base.html" %}
{% block title %}Phishing Game{% endblock %}
{% block content %}
<div class="p-6 bg-white shadow-md rounded-md">
    <div id="startContainer">
        <h3 class="mb-5 text-xl font-medium text-gray-900 white:text-white">Difficulty Level</h3>
        <ul class="grid grid-flow-col gap-6 md:grid-rows-3">
            <li>
                <input type="radio" id="difficulty-beginner" name="difficultyLevel" value="beginner" class="hidden peer" required />
                <label for="difficulty-beginner" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer white:hover:text-gray-300 white:border-gray-700 white:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 white:text-gray-400 white:bg-gray-800 white:hover:bg-gray-700">                           
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Beginner</div>
                        <div class="w-full">Start from here if you are new to Phishing</div>
                    </div>
                    <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </label>
            </li>
            <li>
                <input type="radio" id="difficulty-intermediate" name="difficultyLevel" value="intermediate" class="hidden peer">
                <label for="difficulty-intermediate" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer white:hover:text-gray-300 white:border-gray-700 white:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 white:text-gray-400 white:bg-gray-800 white:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Intermediate</div>
                        <div class="w-full">Click here if you feel confident on your phishing knowledge</div>
                    </div>
                    <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </label>
            </li>
            <li>
                <input type="radio" id="difficulty-professional" name="difficultyLevel" value="professional" class="hidden peer">
                <label for="difficulty-professional" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer white:hover:text-gray-300 white:border-gray-700 white:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 white:text-gray-400 white:bg-gray-800 white:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Professional</div>
                        <div class="w-full">Go through the Professional level
                            of the assessment </div>
                        </div>
                        <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </label>
                </li>
            </ul>
            <button type="button" id="startButton" class="my-10 px-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Start</button>    
        </div>
        
        <form id="gameForm" method="post" style="display: none;">
            <div class="mb-4 text-xl font-semibold text-gray-900 white:text-white" id="question-container">
            <!-- Questions will be dynamically inserted here -->
            </div>
            <input type="hidden" name="score" id="score" value="0">
            <input type="hidden" name="totalQuestionsAnswered" id="totalQuestionsAnswered" value="0">
            <input type="hidden" name="totalQuestions" id="totalQuestions" value="0">
            <button type="button" id="checkButton" class="my-10 px-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Check</button>        
        </form>
    </div>
    <div id="popup" tabindex="-1" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-md">
            <div class="bg-white rounded-lg shadow-lg">
                <button type="button" class="absolute top-3 right-3 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center" data-modal-hide="popup-modal">
                </button>
                <div class="p-4 md:p-5 text-center">                    
                    <h2 class="mb-5 text-2xl font-mono text-gray-500 white:text-gray-400" id="popup-title"></h2>
                    <h3 class="mb-5 text-base font-mono text-gray-500 white:text-gray-400" id="popup-message"></h3>
                    <button data-modal-hide="popup-modal" type="button" class="my-10 px-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" id="popup-close">Next</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    
    // Display questions after user select the difficulty level, else it will show alert to choose a level
    document.getElementById('startButton').addEventListener('click', function() {
        var difficultyLevel = document.querySelector('input[name="difficultyLevel"]:checked');
        if (difficultyLevel) {
            document.getElementById('startContainer').style.display = 'none';
            document.getElementById('gameForm').style.display = 'block';
            initializeGame(difficultyLevel.value);
        } else {
            alert('Please select a difficulty level to start the assessment.');
        }
    });
    
    const beginnerQuestions = [
        {
            shuffle: true,
            question: "What is phishing?",
            hint: "Think about what cybercriminals might do to trick people into giving away personal information.",
            explanation: "The correct answer is B. Phishing is a form of cyber attack that uses fraudulent emails or websites to steal sensitive information, such as usernames, passwords, and credit card details. It is a common method used by cybercriminals to deceive individuals and gain access to personal data.",
            answers: [
                { text: "A technique used to catch fish using a rod and bait", correct: false },
                { text: "A form of cyber attack that uses fraudulent emails or websites to steal sensitive information.", correct: true },
                { text: "A type of malware that encrypts files on a user's computer.", correct: false },
                { text: "A method of improving website ranking on search engines.", correct: false }
            ]
        },
        {
            shuffle: true,
            question: "Which technique is commonly used in phishing attacks?",
            hint: "Consider what action a cybercriminal might take to directly interact with victims.",
            explanation: "The correct answer is C. Sending malicious links through emails is a common technique in phishing attacks. These links often lead to fake websites that look legitimate and prompt users to enter sensitive information, which is then stolen by the attacker.",
            answers: [
                { text: "DNS Spoofing", correct: false },
                { text: "Keylogging", correct: false },
                { text: "Sending malicious links through emails", correct: true },
                { text: "Denial of Service (DoS) attacks", correct: false }
            ]
        },
        {
            shuffle: true,
            question: "You receive an email from what appears to be your bank asking you to update your account information by clicking on a link. What should you do?",
            hint: "Think about how you can verify if the email is genuinely from your bank.",
            explanation: "The correct answer is C. Contact your bank using a phone number you know is legitimate to verify the email. This ensures that you are speaking directly with your bank and not falling for a phishing scam.",
            answers: [
                { text: "Click on the link and enter your details immediately.", correct: false },
                { text: "Ignore the email completely.", correct: false },
                { text: "Contact your bank using a phone number you know is legitimate to verify the email.", correct: true },
                { text: "Forward the email to your friends to warn them.", correct: false }
            ]
        },
        {
            shuffle: true,
            question: "What does the term "spear phishing" refer to?",
            hint: "Consider how the term "spear" might suggest something more focused or directed.",
            explanation: "The correct answer is B. Spear phishing refers to a phishing attack that specifically targets a particular individual or organization. Unlike regular phishing, which is more general, spear phishing is tailored to the victim, often using personalized information to appear more convincing.",
            answers: [
                { text: "A phishing attack targeting a wide range of individuals.", correct: false },
                { text: "A phishing attack that specifically targets a particular individual or organization.", correct: true },
                { text: "A type of attack that involves physical threats.", correct: false },
                { text: "A technique used to spread malware indiscriminately.", correct: false }
            ]
        },
        {
            shuffle: true,
            question: "Which of the following is NOT typically a sign of a phishing email?",
            hint: "Consider what elements might be included to make an email appear legitimate.",
            explanation: "The correct answer is C. A known contact's name in the email signature is not typically a sign of a phishing email. Phishing emails often contain urgent language, poor grammar, and requests for sensitive information. While attackers may use a known contact's name, the presence of this alone does not indicate phishing without other suspicious signs.",
            answers: [
                { text: "Urgent or threatening language.", correct: false },
                { text: "Poor grammar and spelling mistakes.", correct: false },
                { text: "A known contact's name in the email signature.", correct: true },
                { text: "Requests for personal or financial information.", correct: false }
            ]
        },
        {
            shuffle: false,
            question: "Which of the following links is a phishing link? - Bonus",
            hint: "Look closely at the domain name for any unusual spelling or characters.",
            explanation: "The correct answer is C. https://www.go0gle.com/. This is a phishing link because it uses a zero (0) instead of an 'o' in "google," which is a common tactic used by attackers to create links that look legitimate at first glance.",
            answers: [
                { text: "https://www.amazon.com/", correct: false },
                { text: "https://secure.paypal.com/", correct: false },
                { text: "https://www.go0gle.com/", correct: true },
                { text: "https://www.microsoft.com/", correct: false }
            ]
        },       
        // Add more beginner questions here
    ];
    
    const intermediateQuestions = [
        {
            question: "What is a closure in JavaScript?",
            hint: "Closures are an important concept in JavaScript.",
            explanation: "A closure is the combination of a function bundled together with references to its surrounding state.",
            answers: [
                { text: "A function that has access to its outer scope even after the outer scope has closed", correct: true },
                { text: "A function that closes the browser window", correct: false },
                { text: "A function that is used to close an open connection in a database", correct: false }
            ]
        },
        {
            question: "What is an API?",
            hint: "An API allows different software systems to communicate with each other.",
            explanation: "API stands for Application Programming Interface. It is a set of rules that allows one software application to interact with another.",
            answers: [
                { text: "Application Programming Interface", correct: true },
                { text: "Applied Protocol Interaction", correct: false },
                { text: "Automated Program Interface", correct: false }
            ]
        },
        {
            question: "What is the purpose of a RESTful API?",
            hint: "RESTful APIs follow a specific set of rules for creating web services.",
            explanation: "A RESTful API is an application program interface (API) that uses HTTP requests to GET, PUT, POST, and DELETE data. It is designed to take advantage of existing protocols.",
            answers: [
                { text: "To allow communication between clients and servers using HTTP", correct: true },
                { text: "To create complex user interfaces", correct: false },
                { text: "To store data in a database", correct: false }
            ]
        },
        // Add more intermediate questions here
    ];
    
    const professionalQuestions = [
        {
            question: "What is the concept of prototypal inheritance in JavaScript?",
            hint: "Prototypal inheritance is a core concept in JavaScript.",
            explanation: "Prototypal inheritance is the mechanism by which objects in JavaScript inherit properties and methods from other objects.",
            answers: [
                { text: "In JavaScript, objects inherit properties and methods directly from other objects, rather than from classes like in traditional inheritance.", correct: true },
                { text: "Prototypal inheritance refers to inheriting properties and methods from classes.", correct: false },
                { text: "Prototypal inheritance is not supported in JavaScript.", correct: false }
            ]
        },
        {
            question: "What is a JavaScript Promise?",
            hint: "Promises are used to handle asynchronous operations.",
            explanation: "A Promise is an object representing the eventual completion or failure of an asynchronous operation. It allows you to associate handlers with an asynchronous action's eventual success value or failure reason.",
            answers: [
                { text: "An object representing the eventual completion or failure of an asynchronous operation", correct: true },
                { text: "A method to execute synchronous code", correct: false },
                { text: "A function that resolves immediately", correct: false }
            ]
        },
        {
            question: "What is the significance of the 'this' keyword in JavaScript?",
            hint: "The 'this' keyword refers to the object it belongs to.",
            explanation: "In JavaScript, the 'this' keyword refers to the object it belongs to. It has different values depending on where it is used.",
            answers: [
                { text: "Refers to the object it belongs to", correct: true },
                { text: "Refers to the global object", correct: false },
                { text: "Refers to the function it is used in", correct: false }
            ]
        },
        // Add more professional questions here
    ];
    
    
    let shuffledQuestions;
    let currentQuestionIndex;
    let score;
    let currentAnswerCorrect = false;
    let currentDifficulty;
    let totalQuestionsAnswered;

    const totalQuestions = beginnerQuestions.length + intermediateQuestions.length + professionalQuestions.length;
    document.getElementById('totalQuestions').value = totalQuestions;
        
    function initializeGame(difficulty) {
        currentDifficulty = difficulty;
        let questions;
    
        if (difficulty === 'beginner') {
            questions = beginnerQuestions;
        } else if (difficulty === 'intermediate') {
            questions = intermediateQuestions;
        } else if (difficulty === 'professional') {
            questions = professionalQuestions;
        }
    
        let nonShuffledQuestions = questions.filter(q => !q.shuffle);
        let shuffledQuestionsList = shuffle(questions.filter(q => q.shuffle));
    
        shuffledQuestions = shuffledQuestionsList.concat(nonShuffledQuestions);
        currentQuestionIndex = 0;
        score = 0;
        totalQuestionsAnswered = 0;

        populateQuestion(shuffledQuestions[currentQuestionIndex]);
    }
    
    function populateQuestion(question) {
        const questionContainer = document.getElementById('question-container');
        questionContainer.innerHTML = `
            <div>
                <p class="text-2xl mb-5">${question.question}</p>
                ${question.answers.map((answer, index) => `
                    <div>
                        <input type="radio" id="answer-${index}" name="answer" value="${index}">
                        <label class="text-base" for="answer-${index}">${answer.text}</label>
                    </div>
                `).join('')}
            </div>
        `;
    }
    
    document.getElementById('checkButton').addEventListener('click', () => {
        const selectedAnswer = document.querySelector('input[name="answer"]:checked');
        if (selectedAnswer) {
            const index = parseInt(selectedAnswer.value);
            const currentQuestion = shuffledQuestions[currentQuestionIndex];
            const correct = currentQuestion.answers[index].correct;
    
            updateScore(correct, currentQuestion.shuffle);

            //To calculate the total answered question from users
            totalQuestionsAnswered++;
            document.getElementById('totalQuestionsAnswered').value = totalQuestionsAnswered;
            console.log(totalQuestionsAnswered);

            if (correct) {
                currentAnswerCorrect = true;
                showAlert("Explanation", currentQuestion.explanation);
            } else {
                currentAnswerCorrect = false;
                showAlert("Hint", currentQuestion.hint);
            }
        } else {
            alert('Please select an answer.');
        }
    });
    
    document.getElementById('popup-close').addEventListener('click', () => {
        document.getElementById('popup').style.display = 'none';
        if (currentAnswerCorrect) {
            currentQuestionIndex++;
            if (currentQuestionIndex < shuffledQuestions.length) {
                populateQuestion(shuffledQuestions[currentQuestionIndex]);
            } else {
                localStorage.setItem('score', score);
                document.getElementById('score').value = score.toFixed(2);
                document.getElementById('gameForm').submit();
            }
        }
    
    });

    function updateScore(correct, shuffle) {
        let scoreChange = 0;
    
        if (currentDifficulty === 'beginner') {
            scoreChange = shuffle ? (correct ? 1 : -0.5) : (correct ? 5 : -3);
        } else if (currentDifficulty === 'intermediate') {
            scoreChange = shuffle ? (correct ? 5 : -2.5) : (correct ? 10 : -7);
        } else if (currentDifficulty === 'professional') {
            scoreChange = shuffle ? (correct ? 10 : -5) : (correct ? 20 : -18);
        }
    
        score += scoreChange;
        document.getElementById('score').value = score;
    }
    
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;
        while (0 !== currentIndex) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }
    
    function showAlert(title, message) {
        document.getElementById('popup-title').textContent = title;
        document.getElementById('popup-message').textContent = message;
        document.getElementById('popup').style.display = 'block';
    }
    


    </script>
    
    {% endblock %}
    