{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<!-- Right Content -->
<div class="col-span-full xl:col-auto">
    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 ">
            <h3 class="mb-4 text-xl font-semibold white:text-dark">General information</h3>
            <form action="#">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 white:text-dark">Name: {{ user[1]}}</label>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 white:text-dark">Email: {{user[3]}}</label>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-900 white:text-dark">Username: {{user[4]}}</label>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 white:text-dark">Title: {{user[5]}}</label>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="address" class="block mb-2 text-sm font-medium text-gray-900 white:text-dark">Score: {{user[6]}}</label>
                    </div>                                  
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

